<div class='container-fluid'>
  <div class='row'>
    <div class='header-fixed-shadowbox'>
      <div class='header-fixed'>
       
      </div>
    </div>
    <div class='main-block'>
      <router-outlet></router-outlet>
    </div>
  </div>
 
</div>
