<form [formGroup]="form">



  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" formControlName="description" />
  </div>
  <div class="form-group">
    <label>Done</label>
    <input  type="checkbox" name="done" formControlName="done" />
  </div>
  <div class="form-group">
    <label>DeadLine</label>
    <input class="form-control" type="datetime-local" name="deadline" formControlName="deadline" />
  </div>
  
  


  <div class="form-group">

    <button [disabled]="form.invalid" (click)="submit()"
            class="btn btn-default">

      Добавить

    </button>

  </div>
</form>

