<a class="btn btn-primary" [routerLink]="['/new']">Добавить</a>
<br />
<ul>
  <li *ngFor="let task of taskList;let idIndex=id" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>

    <p>Name: <a [routerLink]="['/edit']"  [queryParams]="{id: task.id}">{{task?.name}}</a></p>
    <br>
    <p>Description: {{task?.description}}</p>
    <br>
    <p>Done: {{task?.done}} </p>
    <br>
    <p>Deadline: {{task?.deadline}} </p>
    

    <div class="form-group">

      <input type="button" value="Delete" (click)="deleteTask(idIndex,task.id)" class="btn btn-danger" />

    </div>

    
    
    
    <hr>
    <br>
  </li>
</ul>
