<form [formGroup]="form">

  <div *ngIf="loadedData">

    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" formControlName="name" [(ngModel)]="taskList.name" />

    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" name="description" formControlName="description" [(ngModel)]="taskList.description" />

    </div>

    <div class="form-group">
      <label>Done</label>
      <input type="checkbox" name="done" formControlName="done" [(ngModel)]="taskList.done" />

    </div>

    <div class="form-group">
      <label>Deadline</label>
      <input class="form-control" type="datetime-local" name="deadline" formControlName="deadline" [(ngModel)]="taskList.deadline" />

    </div>

    </div>


  <div class="form-group">

    <button [disabled]="form.invalid" (click)="submit()"
            class="btn btn-primary">

      Изменить

    </button>

  </div>
</form>

